@using TechnologyADDA.Shared

<div class="container-scroller">
    @Html.Partial(Enums.PartialView.HeaderSecion)
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div id="divLoadChildView">
                    @Html.Partial(Enums.PartialView.MainSkills)
                    @Html.Partial(Enums.PartialView.MainSkills)
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            @Html.Partial(Enums.PartialView.FooterSecion)
            <!-- partial -->
        </div>
         @Html.Partial(Enums.PartialView.TopTrendingNews)
    </div>
</div>
