@model TechnologyADDA.Models.MainSkill

<div class="card" id="dvMainSkill">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Main Skill<span class="required-star"><b>*</b></span></label>
                <input type="text" class="form-control" id="txtMainSkill" value="@Model.MainSkillName" maxlength="160" placeholder="Main Skill" rule="{'Please enter Main Skill','required'}" autocomplete="off">
            </div>
            <div class="form-group">
                <label>Main Skill Description</label>
                <textarea type="text" class="form-control" id="txtMainSkillDesc" value="@Model.MainSkillDesctiption" maxlength="500" placeholder="Main Skill Description" autocomplete="off">@Model.MainSkillDesctiption</textarea>
            </div>
            <div class="form-group">
                <div class="form-check form-check-flat">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="=activeSkill" name="isActive" checked="@Model.Active"> Active
                        <i class="input-helper"></i>
                    </label>
                </div>
            </div>
            <button class="btn btn-success mr-2" id="btnAddMainSkill" onclick="saveMainSkill(@Model.Id);">SAVE</button>
            <button class="btn btn-light" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>

